/*░░░░░░░░░░░░░░░░░░░░░░░░

  STYLE DIRECTORY

    _overlay
        _animation
    _load
    _animationDeclarations

  ░░░░░░░░░░░░░░░░░░░░░░░░*/

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _overlay
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
div.filltering {
    position: relative;
    min-height: 100px;
    span.filltering {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(255,255,255,0.5);
        // _animation
        i.filltering {
            border-bottom: 10px solid rgba(0, 0, 0, 0.3);
            border-left: 10px solid rgba(0, 0, 0, 0.3);
            border-right: 10px solid rgba(0, 0, 0, 0.3);
            border-top: 10px solid #000;
            border-radius: 100%;
            height: 50px;
            width: 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -35px;
            margin-top: -35px;
            -webkit-animation: rotate 1s linear infinite;
            -moz-animation: rotate 1s linear infinite;
            -o-animation: rotate 1s linear infinite;
            animation: rotate 1s linear infinite;
        }
    }
}

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _load
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
a.filltering {
    display: none !important;
}

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _animationDeclarations
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }
